<section>
    <div class="block">
        <div class="fixed-bg"></div>
        <div class="error-page-wrapper text-center">
            <div class="error-page-inner">
                <h1 itemprop="headline">500 <span class="red-clr">Error</span></h1>
                <h4 itemprop="headline"><span class="yellow-clr">Oops,</span> Server Is Busy!</h4>
                <p itemprop="description">We Are Sorry! It will be resolved as soon as possible.</p>
                <a class="brd-rd2 yellow-bg" href="Index" title="" itemprop="url"><i class="fa fa-home"></i> BACK TO HOME</a>

            </div>
        </div><!-- Error Page Wrapper -->
    </div>
</section>
<style>
    .fixed-bg {
        background-image: url('@Url.Content("~/assets/images/topbg.jpg")');
        background-image: url('@Url.Content("~/assets/images/topbg.jpg")');
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
</style>